{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}用户主页{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center" style="color: #3e8f3e">Welcome</h1>

        {% for item in ProjectList %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{% url 'user:blog' project_id=item.id %}">{{ item.creator }} / {{ item.name }}</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{% static 'images/test.jpg' %}" alt="Project Image" class="img-responsive">
                        </div>
                        <div class="col-md-10">
                            {% if item.defs %}
                                {{ item.defs }}
                            {% else %}
                                <p>这是一个神秘的项目</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No projects found.</p>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/backdrop.js' %}"></script>
{% endblock %}