{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}用户登录{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'user/css/account.css' %}">
    <style>
        .error-msg {
            color: red;
            position: absolute;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="account" id="div2">

        <div class="title">用户登录</div>

        <form id="loginForm" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="clearfix">
                            <div class="col-md-6" style="padding-left: 0">
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-md-6"><input id="btnSmsL" type="button" class="btn btn-default"
                                                         value="点击获取验证码"></div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}
            {% endfor %}

            <div>
                <div style="float: right">
                    <a href="{% url 'user:login' %}">密码登录？</a>
                </div>
            </div>
            <button id="btnLogin" type="button" class="btn btn-primary">登 录</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            bindClickBtnSmsL();
            bindClickBtnLogin()
        })

        function bindClickBtnSmsL() {
            $('#btnSmsL').click(function () {
                $('.error-msg').empty();
                var phone = $('#id_phone').val();

                $.ajax({
                    url: '{% url 'user:send_sms' %}',
                    type: 'GET',
                    data: {phone: phone, tpl: 'login'},
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            SendSmsRemind()
                        } else {
                            $.each(res.error, function (key, value) {
                                $('#id_' + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }

        function bindClickBtnLogin() {
            $('#btnLogin').click(function () {
                $('.error-msg').empty();
                $.ajax({
                    url: '{% url 'user:login_by_sms' %}',
                    type: 'POST',
                    data: $('.loginForm').serialize(),
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            location.href = res.data;
                        } else {
                            $.each(res.error, function (key, value) {
                                $('#id_' + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })

        }

        function SendSmsRemind() {
            var $smsBtn = $('#btnSmsL');
            $smsBtn.prop('disabled', true) // 添加disabled属性，使按钮不可点击
            var time = 60;
            var remind = setInterval(function () {
                $smsBtn.val(time + 's后重新发送');
                time = time - 1;
                if (time < 1) {
                    clearInterval(remind);
                    $smsBtn.val('点击获取验证码').prop('disabled', false)  //解除不可点击状态
                }
            }, 1000) //每1000毫秒执行一次函数

        }
    </script>
    <script src="{% static 'js/backdrop.js' %}"></script>
{% endblock %}