{% extends 'user/layout/manage_base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'user/plugin/editor-md/css/editormd.min.css' %}">
    <style>
        .panel-default {
            margin-top: 10px;
        }

        .panel-default .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .panel-body {
            padding: 0;
        }

        .title-list-r {
            border-right: 1px solid #dddddd;
            min-height: 500px;

        }

        .title-list-r ul {
            padding-left: 15px;
        }

        .title-list-r ul a {
            display: block;
            padding: 5px 0;
        }

        .content {
            border-left: 1px solid #dddddd;
            min-height: 600px;
            margin-left: -1px;
        }
        .editormd-fullscreen{
            z-index: 1001;
        }
    </style>

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <i class="fas fa-book" aria-hidden="true"></i> wiki文档
                </div>
                <div class="function">
                    <a type="button" class="btn btn-success btn-xs"
                       href="{% url 'user:wiki' project_id=request.bug_management.project.id %}">
                        <i class="fas fa-window-close" style="color: #2d782b;"></i> 取消
{#                        fal fa-window-close  fas fa-plus-circle#}
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-3 title-list-r">
                    <ul id="catalog">

                    </ul>
                </div>
                <div class="col-sm-9 content">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in forms %}
                            {% if field.name == 'content' %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    <div id="editor">
                                        {{ field }}
                                    </div>
                                    <span class="error-msg">{{ field.errors.0 }}</span>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    <span class="error-msg">{{ field.errors.0 }}</span>
                                </div>
                            {% endif %}

                        {% endfor %}

                        <button type="submit" class="btn btn-default">提 交</button>
                    </form>

                </div>
                {% if messages %}
                    <script>
                        {% for msg in messages %}
                            alert('{{ msg.message }}');
                        {% endfor %}
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'user/plugin/editor-md/editormd.min.js' %}"></script>
    <script>
        var WIKI_DETAIL_URL = "{% url 'user:wiki' project_id=request.bug_management.project.id %}";
        var WIKI_UPLOAD_URL = "{% url 'user:wiki_img_upload' project_id=request.bug_management.project.id %}";

        $(function () {
            initCatalog();
            initEditorMd();//初始化markdown编辑器
        });

        //初始化markdown编辑器,将textare转换为markdown
        function initEditorMd() {
            editormd('editor', {
                placeholder:'请输入内容',
                height: 500,
                path: "{% static  'user/plugin/editor-md/lib/' %}",
                imageUpload:true,
                imageFormats:['jpg', 'jpeg', 'png', 'gif'],
                imageUploadURL:WIKI_UPLOAD_URL,
            })
        }

        function initCatalog() {
            $.ajax({
                url: "{% url 'user:WikiCatalog' project_id=request.bug_management.project.id %}",
                type: "GET",
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        //console.log(res);
                        $.each(res.data, function (index, item) {
                            var href = WIKI_DETAIL_URL + '?wiki_id=' + item.id;
                            var li = $("<li>").attr("id", "id_" + item.id).append($("<a>").text(item.article_title).attr('href', href)).append($('<ul>'));

                            if (!item.parent_article_id) {
                                $('#catalog').append(li);
                            } else {
                                $('#id_' + item.parent_article_id).children('ul').append(li);
                            }
                        })
                    } else {
                        alert('目录未获取');
                    }
                }
            })
        }


    </script>
{% endblock %}
